<style>
.e001-navigation{
    border-bottom: 1px solid #e8e8e8;
}
.e001-navbar{
    height: 70px;
}

.e001-wrapper {
   /* The image used */
   background-image: url("https://images.unsplash.com/photo-1498579809087-ef1e558fd1da?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");

   /* Full height */
   height: auto; 
 
   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   
}

.e001-center{
    text-align: center;
}
</style>





<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <br>
                <h2 class="title">Komponente e-001: Header Fullsize</h2>
                <hr>
            </div>
        </div>
    </div>
</section>




 <!-- Navigation -->
        <section class="navigation">
            <div class="container">
                <nav class="navbar e001-navbar" role="e001-navigation" aria-label="main navigation">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="/">
                            <h2 class="title is-4"><b>Enval</b></h2>
                        </a>

                        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        </a>
                    </div>

                    <div id="navbarBasicExample" class="navbar-menu">
                        <div class="navbar-start">
                            <a class="navbar-item" href="#">
                                Über mich
                            </a>

                            <a class="navbar-item" href="#">
                                Kontakt
                            </a>
                            <a class="navbar-item" href="#">
                                Dienstleistungen
                            </a>

                       
                        </div>


                    </div>
                </nav>
            </div>
        </section>

        <section class="hero  is-fullheight-with-navbar e001-wrapper">
  <div class="hero-body">
    <div class="container ">
      <div class="columns is-vcentered">
          <div class="column is-full e001-center">
              <h2 class="title is-2">Qualitäts<wbr>management mal ganz anderst</h2>
              <h2 class="title is-3">Für gastronomen von morgen</h2>
              <a href="#newtime"  class="button is-success is-rounded button-size">Mehr sehen</a>
          </div>
      </div>
    </div>
  </div>
</section>