<style>
.navbar.is-dark{
    background-color: rgba(255, 255, 255, 0);

}

.e004-header-image{
    background-image: url(https://images.unsplash.com/photo-1568992688065-536aad8a12f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1778&q=80);
    margin-top: -60px;
    background-position: center;
    background-size: cover;
}
.e004-header-image::before{
    content: "";
}
.e004-header-image-text{
    padding-top: 10em;
    padding-bottom: 10em;
    padding-left: 2em;
    background-color: rgba(0, 0, 0, 0.452);
}

</style>

<script>

</script>


<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <br>
                <h2 class="title">Komponente e-004: Header mit integrierter Navigation</h2>
                <hr>
            </div>
        </div>
    </div>
</section>



<section>
    <div class="navigation container">
        <nav class="navbar is-transparent is-dark" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item" href="#">
                <p class="title is-5 has-text-white">Erstehilfe Göppingen</p>

              </a>
          
              <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
          
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
          
                <a class="navbar-item" href="#privatpersonen">
                  Verfügbare Kurse
                </a>
                <a class="navbar-item" href="#ueberuns">
                    Über uns
                  </a>

                <a class="navbar-item">
                   Blog
                  </a>

                  <a class="navbar-item">
                    FAQ
                  </a>
               
              </div>
          
              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    <a class="button is-danger">
                      <strong>Individuelle Kurse</strong>
                    </a>
                   
                  </div>
                </div>
              </div>
            </div>
          </nav>
      </div>
  <div class="e004-header-image">
      <div class="e004-header-image-text">
          <div class="container">
            <h1 class="title has-text-white">Erstehilfe Kurse in Göppingen</h1>
            <p class="subtitle has-text-white">Für Führerschein, Betrieb oder auch so anderes Zeug halt</p>
        <a class="button is-light is-outlined" href="">Weitere Informationen zu unseren Kursen →</a> 
        </div>
      </div>
  </div>
</section>